<launch>

	<arg name="model" default="$(find imr_arm_description)/urdf/imr_arm_rviz.urdf"/>
	<arg name="rvizconfig" default="$(find imr_arm_description)/rviz/imr_arm.rviz"/>

	<param name="robot_description" textfile="$(find imr_arm_description)/urdf/imr_arm_rviz.urdf" />

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
			<rosparam param="source_list">["hebi_cpp/jointState_fbk"]</rosparam>
	</node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>