<launch>
  <!-- No namespace here as we will share this description. 
         Access with slash at the beginning -->

    <!-- <arg name="model" default="$(find imr_arm_description)/urdf/imr_arm_gazebo.urdf"/> -->
    <!-- <arg name="rvizconfig" default="$(find imr_arm_description)/rviz/imr_arm_gazebo.rviz" /> -->

      <!-- Load the URDF into the ROS Parameter Server -->
  	<param name="robot_description" textfile="$(find imr_arm_description)/urdf/imr_arm_gazebo.urdf" />
    <param name="robot_description2" textfile="$(find imr_arm_description)/urdf/imr_arm_gazebo2.urdf" />
      
    <!-- <group ns="imr_arm1"> -->
      <include file="$(find imr_arm_description)/launch/imr_arm.launch" >
        <arg name="init_pose" value="-x 0.3 -y -0.3 -z 0 -Y -1.57" />
        <arg name="robot_name"  value="imr_arm1" />
      </include>
    <!-- </group> -->

    <!-- <group ns="imr_arm2">-->
      <include file="$(find imr_arm_description)/launch/imr_arm2.launch" >
        <arg name="init_pose" value="-x -0.3 -y 0.3 -z 0 -Y 1.57" />
        <arg name="robot_name"  value="imr_arm2" />
      </include>
     <!--</group> -->
</launch>